[submodule "third_party/OpenMontage"]
	path = third_party/OpenMontage
	url = https://github.com/calesthio/OpenMontage.git
	shallow = true
[submodule "plugins"]
	path = plugins
	url = https://github.com/anbanai/creator-skills.git
	branch = main
	syncPush = true
	syncRemote = origin
